@import "tailwindcss";
/* index.css */
:root { --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
* { box-sizing: border-box; }
html,body,#root { height:100%; }
body { margin:0; font-family: var(--font-sans); background:#fbfdff; color:#021; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
a { color: inherit; }

@theme {
  --color-primary: rgb(49, 232, 198);
  --color-primary-dark: rgb(29, 180, 155);
  --color-primary-light: rgb(178, 255, 240);
}

